In [12]:
import pandas as pd
from pathlib import Path

In [13]:
import csv

In [14]:
 csvpath = Path("Documents/GitHub/python-homework/PyBank/budget_data.csv")

In [15]:
budget_data = pd.read_csv(csvpath)
budget_data.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [55]:
mean1 = budget_data.mean()
sum1 = budget_data.sum()
max1 = budget_data.max()
min1 = budget_data.min()
count1 = budget_data.count()
median1 = budget_data.median() 
std1 = budget_data.std() 
var1 = budget_data.var() 


print ('average profit/loss: ' + str(mean1))
print ('Sum of profit/loss: ' + str(sum1))
print ('Max profit/loss: ' + str(max1))
print ('Min profit/loss: ' + str(min1))
print ('Count of months: ' + str(count1))
print ('Median profit/loss: ' + str(median1))
print ('Std of profit/loss: ' + str(std1))
print ('Var of profit/loss: ' + str(var1))

average profit/loss: Profit/Losses    446309.046512
sum              446309.046512
dtype: float64
Sum of profit/loss: Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
sum                                                       38382578
dtype: object
Max profit/loss: Date             Sep-2016
Profit/Losses     1170593
sum               1170593
dtype: object
Min profit/loss: Date             Apr-2010
Profit/Losses    -1196225
sum              -1196225
dtype: object
Count of months: Date             86
Profit/Losses    86
sum              86
dtype: int64
Median profit/loss: Profit/Losses    570328.0
sum              570328.0
dtype: float64
Std of profit/loss: Profit/Losses    536357.947941
sum              536357.947941
dtype: float64
Var of profit/loss: Profit/Losses    2.876798e+11
sum              2.876798e+11
dtype: float64